@import "tailwindcss";

@font-face {
  font-family: 'Neigh';
  src: url('/fonts/Neigh.otf');
}

@font-face {
  font-family: 'CrimsonText';
  src: url('/fonts/CrimsonText-SemiBold.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.map-container svg path {
  transition: fill 0.3s ease; /* Smooth transition for color changes */
}

.map-container svg path.selected {
  fill: #00916E; /* Color for the selected state */
}

.map-container svg path.unselected {
  fill: transparent; /* Make unselected states transparent */
}