@import "tailwindcss";

@font-face {
  font-family: 'Neigh';
  src: url('/fonts/Neigh.otf');
}

@font-face {
  font-family: 'CrimsonText';
  src: url('/fonts/CrimsonText-SemiBold.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  margin: 0;
  padding: 0;
  width: 100vw;
}